{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}
<main role="main">
  
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{page.title}}</h2>
        <div>
          {{page.content|safe}}
          {% if request.user.is_staff %}
            <p><a href="{% url 'pages:update' page.id %}">Editar</a></p>
          {% endif %}

          <td>
            <a href="{{ page.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a>
          </td>

          

        </div>

      
        
      </div>
      <p class="profile-data">
        <b>{{profile.user|truncatechars:"16"}}</b><br>
        <a href="{% url 'profiles:detail' page.created_by %}">Ver perfil</a>
      </p>

      {% if request.user != page.created_by %}
          <a href="{% url 'messenger:start' page.created_by.username %}" class="btn btn-primary btn-sm btn-block mt-3">
            Enviar Mensaje
          </a>
      {% endif %}

      <img src="{{page.created_by.profile.avatar.url}}" class="avatar">      <!-- ordenar bien los templaates -->

    </div>
  </div> 

  <div class="container mb-4">
    {% for page in julio_godoy_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{page.title}}</h2>
          <div>
            <p>{{page.content|striptags|safe|truncatechars:"200"}}</p>
            
            <p><a href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
              
              {% if request.user.is_staff %}
                | <a href="{% url 'pages:update' page.id %}">Editar</a>
                | <a href="{% url 'pages:delete' page.id %}">Borrar</a>
              {% endif %}
             
            </p>

            <p>{{page.id}}</p>
            

            <p class="profile-data">
              <a href="{% url 'profiles:detail' page.created_by %}">{{page.created_by}}</a>
            </p>

            {% if request.user != page.created_by %}
                <a href="{% url 'messenger:start' page.created_by.username %}" class="btn btn-primary btn-sm btn-block mt-3">
                  Enviar Mensaje
                </a>
            {% endif %}

          </div>
        </div>
      </div>
    {% endfor %}
  </div>  

  <div class="container mb-4">
    {% for page in roberto_asin_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{page.title}}</h2>
          <div>
            <p>{{page.content|striptags|safe|truncatechars:"200"}}</p>
            
            <p><a href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
              
              {% if request.user.is_staff %}
                | <a href="{% url 'pages:update' page.id %}">Editar</a>
                | <a href="{% url 'pages:delete' page.id %}">Borrar</a>
              {% endif %}
             
            </p>

            <p>{{page.id}}</p>
            

            <p class="profile-data">
              <a href="{% url 'profiles:detail' page.created_by %}">{{page.created_by}}</a>
            </p>

            {% if request.user != page.created_by %}
                <a href="{% url 'messenger:start' page.created_by.username %}" class="btn btn-primary btn-sm btn-block mt-3">
                  Enviar Mensaje
                </a>
            {% endif %}

          </div>
        </div>
      </div>
    {% endfor %}
  </div>  
</main>
{% endblock %}
